
body{
background-color: #FFD9EC
}

.timeago{
	color: #ccc;
    font-size: 12px;
}
.detail_info{
	font-size: 13px;
	text-align: right;
}
.content-function {
    width: 100px;
    padding-top: 20px;
    color: #666;
}
.title{
	position: relative;
	display: inline;
}

.content-body {
    position: relative;
    border-right: 1px solid #ddd;
    width: 80%;
}

.btn.btn-wide {
	margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 1px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	display: block;
	background-color: #0059ab;
	width: 200px;
	height: auto;
}
.active{
	background-color: white;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	display: block;
	background-color: #0059ab;
	width: 200px;
	height: auto;
}
.logo{
	color: white;
}
#list_table{
	display: inline-block;
}
#search{
	display: inline-block;
}

#main{
	position: relative;
    width: 1100px;
    margin-left: 210px;
    padding-left: 30px;
    padding-top: 20px !important;
}

#form{
	border: 1px ridge #ff5722;
}

#footer{
	position: relative;
	border-top: 1px solid green;
	width: 805px;
	font-size: 12px;
	margin-top: 50px;
	padding: 20px 0;
	height: 100px;
	text-align: left;
}

#table_name{
	display: inline-block;
}

#search{
	display: inline-block;
}

#main{
	position: relative;
    width: 1100px;
    margin-left: 210px;
    padding-left: 30px;
    padding-top: 20px !important;
}
