<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kh_user">
	
	<resultMap type="semi.KHC.userDto.UserDto" id="user_Map">
		<result property="user_seq" column="USER_SEQ" />
		<result property="user_id" column="USER_ID" />
		<result property="user_pw" column="USER_PW" />
		<result property="user_name" column="USER_NAME" />
		<result property="user_nickname" column="USER_NICKNAME" />
		<result property="user_address" column="USER_ADDRESS" />
		<result property="user_email" column="USER_EMAIL" />
		<result property="user_emailhash" column="USER_EMAILHASH" />
		<result property="user_emailchecked" column="USER_EMAILCHECKED" />
		<result property="user_phone" column="USER_PHONE" />
		<result property="user_state" column="USER_STATE"/>
		<result property="user_type" column="USER_TYPE"/>
	</resultMap>
	
	<select id="login" parameterType="String" resultMap="user_Map">
		SELECT *
		FROM KH_USER 
		WHERE USER_ID = #{user_id} 
	</select>
	
	<select id="findId" parameterType="String" resultType="String">
		SELECT USER_ID FROM KH_USER WHERE USER_EMAIL = #{user_email}
	</select>
	
	<insert id="join" parameterType="userDto">
		INSERT INTO KH_USER VALUES(KH_USER_SEQ.NEXTVAL, #{user_id}, #{user_pw}, #{user_name}, #{user_nickname}, #{user_address}, #{user_email},'FALSE','FALSE', #{user_phone},'TRUE','USER')
	</insert>
	
	<select id="findEmail" parameterType="String" resultMap="user_Map">
		SELECT USER_SEQ, USER_ID, USER_NAME, USER_EMAIL FROM KH_USER WHERE USER_EMAIL = #{user_email}
	</select>
	
	<update id="updatePw" parameterType="map">
		UPDATE KH_USER SET USER_PW = #{user_pw} WHERE USER_EMAIL = #{user_email}
	</update>
	
	<select id="getEmail" parameterType="String" resultType="String">
		SELECT USER_EMAIL FROM KH_USER WHERE USER_ID = #{user_id}
	</select>
	
	<update id="setEmail" parameterType="String" >
		UPDATE KH_USER SET USER_EMAILCHECKED = 'TRUE' WHERE USER_ID = #{user_id}
	</update>
	
	<update id="update" parameterType="userDto" >
		UPDATE KH_USER 
		SET USER_PW = #{user_pw}, USER_NICKNAME = #{user_nickname}, USER_ADDRESS = #{user_address}, USER_PHONE = #{user_phone}
		WHERE USER_SEQ = #{user_seq}
	</update>
	
	<select id="selectOne" parameterType="int" resultMap="user_Map">
		SELECT *
		FROM KH_USER 
		WHERE USER_SEQ = #{user_seq} 
	</select>
	
	<delete id="delete">
		DELETE FROM KH_USER 
		WHERE USER_SEQ = #{user_seq}
	</delete>
	
	<select id="userList" resultMap="user_Map">
		SELECT *
		FROM KH_USER 
		WHERE USER_STATE = 'TRUE'
	</select>
	
	<select id="userSearchList" parameterType="String" resultMap="user_Map">
		SELECT *
		FROM KH_USER 
		WHERE USER_STATE = 'TRUE' AND USER_NICKNAME LIKE '%'||#{keyword}||'%'
	</select>
	
	
	
</mapper>
